accelerate==0.23.0
aioice==0.9.0
aiortc==1.7.0
altair==5.1.1
antlr4-python3-runtime==4.9.3
anyio==3.7.1
argilla==1.16.0
arrow==1.3.0
asn1crypto==1.5.1
auto-gptq==0.2.2
av==11.0.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
bitarray==2.8.1
blinker==1.6.2
bqplot==0.12.40
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.1
chardet==3.0.4
charset-normalizer==3.1.0
chromadb==0.3.26
click==8.1.7
click-plugins==1.1.1
clickhouse-connect==0.6.13
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
colour==0.1.5
contourpy==1.1.1
cryptography==41.0.7
ctransformers==0.2.27
cycler==0.12.0
Cython==3.0.2
dataclasses-json==0.5.14
Deprecated==1.2.14
distlib==0.3.7
dnspython==2.5.0
duckdb==0.8.1
einops==0.6.1
et-xmlfile==1.1.0
evaluate==0.4.0
exceptiongroup==1.1.3
extra-streamlit-components==0.1.60
fairseq==0.12.2
fastapi==0.103.1
filelock==3.12.4
filetype==1.2.0
Fiona==1.9.4.post1
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.43.0
fqdn==1.5.1
gdown==4.7.1
geojson==3.0.1
geopandas==0.14.0
gitdb==4.0.10
GitPython==3.1.35
google-crc32c==1.5.0
googletrans==3.0.0
h11==0.14.0
h2==3.2.0
hnswlib==0.7.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==1.0.2
httptools==0.6.0
httpx==0.26.0
huggingface-hub==0.16.4
humanfriendly==10.0
hydra-core==1.0.7
hyperframe==5.2.0
idna==2.10
ifaddr==0.2.0
install==1.3.5
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.25.2
ipyleaflet==0.17.4
ipython==8.16.0
ipython-genutils==0.2.0
ipytree==0.2.2
ipywidgets==7.8.1
isoduration==20.11.0
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jupyter-events==0.7.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyterlab-widgets==1.1.7
jupyterlab_server==2.25.0
keplergl==0.3.2
kiwisolver==1.4.5
langchain==0.0.228
langchainplus-sdk==0.0.20
leafmap==0.27.0
libretranslatepy==2.1.1
loralib==0.1.2
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.4
markdown-it-py==3.0.0
marshmallow==3.20.1
matplotlib==3.8.0
mdurl==0.1.2
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
networkx==3.1
nltk==3.8.1
notebook==7.0.4
numpy==1.23.5
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.16.0
openapi-schema-pydantic==1.2.4
opencv-python==4.9.0.80
openpyxl==3.1.2
openthaigpt==0.1.1
pandas==1.5.3
pdf2image==1.16.3
pdfminer.six==20221105
peft==0.5.0
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.9.8
platformdirs==3.10.0
plotly==5.17.0
portalocker==2.8.2
posthog==3.0.2
prompt-toolkit==3.0.39
protobuf==4.24.3
pulsar-client==3.3.0
py-cpuinfo==9.0.0
pyarrow==11.0.0
pydantic==1.10.12
pydeck==0.8.0
pyee==11.1.0
PyJWT==2.8.0
pylibsrtp==0.10.0
Pympler==1.0.1
pyOpenSSL==23.3.0
pypandoc==1.11
pyparsing==3.1.1
pypdf==3.16.1
pyproj==3.6.1
pyshp==2.3.1
pystac==1.8.4
pystac-client==0.7.5
python-box==7.1.1
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-pptx==0.6.22
pytz-deprecation-shim==0.1.0.post0
pyzmq==25.1.1
rfc3986==1.5.0
rich==13.5.2
rouge==1.0.1
rpds-py==0.10.2
sacrebleu==2.3.1
sacremoses==0.0.53
scikit-learn==1.3.0
scipy==1.11.2
scooby==0.7.3
seaborn==0.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
shapely==2.0.1
smmap==5.0.0
snowflake-connector-python==3.7.0
snowflake-snowpark-python==1.12.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.21
starlette==0.27.0
streamlit==1.31.1
streamlit-authenticator==0.3.1
streamlit-chat==0.1.1
streamlit-folium==0.18.0
streamlit-webrtc==0.47.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.2.0
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.12.3
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
traitlets==5.10.1
traittypes==0.2.1
transformers==4.33.2
translate==3.6.1
typer==0.7.0
types-python-dateutil==2.8.19.14
typing-inspect==0.9.0
tzlocal==4.3.1
unstructured==0.8.0
uri-template==1.3.0
uvicorn==0.23.2
uvloop==0.17.0
validators==0.22.0
virtualenv==20.24.5
watchdog==3.0.0
watchfiles==0.20.0
webcolors==1.13
webencodings==0.5.1
websockets==11.0.3
whitebox==2.3.1
whiteboxgui==2.3.0
widgetsnbextension==3.6.6
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.1.4
xyzservices==2023.7.0
zstandard==0.21.0
